root = true

[*.cs]
dotnet_diagnostic.SA1200.severity = None
dotnet_diagnostic.SA1600.Severity = None
dotnet_diagnostic.SA1601.Severity = None
dotnet_diagnostic.SA1602.Severity = None
dotnet_diagnostic.SA1633.severity = None
dotnet_diagnostic.SA1101.severity = None
dotnet_diagnostic.SA1127.severity = None
dotnet_diagnostic.SA1515.severity = None
dotnet_diagnostic.SA1202.severity = None
dotnet_diagnostic.SA1309.severity = None
dotnet_diagnostic.SA1201.severity = None
dotnet_diagnostic.SA1204.severity = None
dotnet_diagnostic.SA1407.severity = None
dotnet_diagnostic.SA1118.severity = None
dotnet_diagnostic.SA1111.severity = None
dotnet_diagnostic.SA1117.severity = None

dotnet_diagnostic.CS1591.severity = None