.root {
    display: grid;
    grid-template-areas: "topbar topbar padding" "sidebar main padding";
    grid-template-columns: 300px 900px 1fr;
    grid-template-rows: max-content 1fr;
    height: 100dvh;
}

.rootLoggedOut {
    display: grid;
    grid-template-areas: "topbar padding" "main padding";
    grid-template-columns: 900px 1fr;
    grid-template-rows: max-content 1fr;
    height: 100dvh;
}

.main {
    grid-area: main;
    border-right: 1px solid var(--border-color);
}

.padding {
    
}

.background {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
    background: url("../assets/citylights.jpeg") center center/cover no-repeat;
}

.backgroundFilter {
    grid-area: topbar / topbar / sidebar / main;
    z-index: -1;
    
    backdrop-filter: var(--backdrop-filter);
}
