@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    
    --background-color: black;
    --foreground-color: white;
    --border-color: rgba(255, 255, 255, 25%);
    --backdrop-filter: blur(20px);
    --hover-background-color: rgba(255, 255, 255, 10%);
    --hover-foreground-color: var(--foreground-color);
    --body-font-family: "Space Grotesk", sans-serif;
    --body-font-size: 12pt;
    
    --padding: 4px;
    --element-spacing: 12px;
    --border-radius: 4px;
    
    color: var(--foreground-color);
    
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
    }
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 300;
    margin-top: 20px;
    font-size: 25pt;
}
