@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
    margin: 0;
    
    --background-color: black;
    --foreground-color: white;
    --border-color: rgba(255, 255, 255, 25%);
    --backdrop-filter: blur(20px);
    
    color: var(--foreground-color);
    
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    body {
        --background-color: white;
    }
}

* {
    box-sizing: border-box;
}
