.button {
    padding: var(--padding);
    background: transparent;
    color: var(--foreground-color);
    border-radius: var(--border-radius);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    border: 1px solid var(--border-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover:not(:disabled) {
        background: var(--hover-background-color);
    }
    &:disabled {
        color: var(--foreground-disabled-color);
    }
}

