.button {
    padding: var(--padding);
    background: transparent;
    color: var(--foreground-color);
    border-radius: var(--border-radius);
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    border: 1px solid transparent;
}

.button:hover {
    background: var(--hover-background-color);
    border: 1px solid var(--border-color);
}
