.backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: black;
    opacity: 0.4;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*min-width: 300px;*/
    
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: calc(4 * var(--padding));
}

.popup:global(.active) {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 15pt;
    font-weight: normal;
    margin: 0;
}
