.trigger {
    display: grid;
    grid-template-areas: "value icon";
    grid-template-columns: 1fr max-content;
    
    align-items: center;
    
    padding: var(--padding);
    background: transparent;
    color: var(--foreground-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    
    cursor: default;
}

.trigger:hover {
    background: var(--hover-background-color);
}

.value {
    grid-area: value;
}

.icon {
    grid-area: icon;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: var(--padding);
    background: black;
    color: var(--foreground-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);

    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: var(--padding);
}

.item {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / 3;
    
    padding: var(--padding);
    cursor: default;

    border: 1px solid transparent;
    border-radius: var(--border-radius);

    &[data-highlighted] {
        background: var(--hover-background-color);
    }
}

.itemIndicator {
    grid-column: 1 / 2;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemText {
    grid-column: 2 / 3;
}
