.sidebar {
    grid-area: sidebar;
    /*border-right: 1px solid var(--border-color);*/
    margin-right: 15px;
    
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: var(--padding);
}

.sidebarItem {
    border-radius: var(--border-radius);
    padding: var(--padding);
    border: 1px solid transparent;
    cursor: pointer;

    color: var(--text-color);
    text-decoration: none;
}

.sidebarItem:hover {
    padding: var(--padding);
    background: var(--hover-background-color);
    color: var(--hover-foreground-color);
}

.sidebarItem:global(.active) {
    border: 1px solid var(--border-color);
    background: var(--hover-background-color);
}
