.root {
    grid-area: topbar;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    
    display: grid;
    grid-template-areas: "icon . user";
    grid-template-columns: max-content 1fr max-content;
    padding: var(--padding);
}

.userButton {
    grid-area: user;
}

.icon {
    grid-area: icon;
}

.userMenu {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}
